body{
    background-color: rgb(65, 67, 67);

}
h1{
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
}
#calcTitle{
    color: orange;
}
#calcTitle2{
    color: rgb(0, 235, 12);
}
#mainDiv{
    background-color: rgb(0, 0, 0);
    width: 384px;
    height: 495px;
    
    display: grid;
    margin-right: auto;
    margin-left: auto;
    gap: 5px;
    max-width: 300px;
    margin-top: 80px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    box-shadow: 0px 15px 60px rgb(126, 125, 165), 0px -15px 60px rgb(126, 125, 165);
}
#solOutput{
    background-color: rgb(60, 59, 59);
    color: aliceblue;
    width: 274px;
    height: 80px;
    padding: 5px;
    font-size: 20px;
    font-family: Verdana;
    align-content: center;
    padding-left: 20px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #000; 
    margin-bottom: 10px; 
}
.numButton{
    top: 100px;
    margin-left: 10px;
    margin-top: 20px;

    width: 60px;
    height: 40px;

    align-content: center;
    font-size: 16px;

    background-color: rgb(58, 49, 42, 0.65);
    color: rgb(240, 245, 249);
    border-radius: 20px;
    border: none;
}

.numButton:hover{
    background-color: rgb(189, 125, 7);
}


